@font-face {
    font-family: mainFont;
    src: url(stereofidelic.ttf);
}

body{
	margin: 0px;
	background-image: url(shades.png);
	background-repeat: no-repeat;
	background-size: 100% 780px;
	font-family: sans-serif;
}

.image{
	height: 60px;
	width: 60px;
	margin: 0px;
}

#picbox {
	margin: 0px auto;
	width: 500px;
}
#boxcard {
	width: 600px;
}
#boxcard div{
	float: left;
	width: 120px;
	height: 120px;
	margin: 1px;
	padding: 0px;
	cursor: pointer;
	background-image: url('Memoflip.jpg');
	background-repeat: no-repeat;
}
#boxcard div img {
	display: none;
}
#boxbuttons {
	text-align: center;
	margin: 0px;
	display: block;

}
#boxbuttons .button {
	text-transform: uppercase;
	background: white;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	border: none;
	font-size: 13px;
}
#boxbuttons .button:hover {
	background: lightblue;
}

#show{
	font-size: 70px;
	color: #0099cc;
	margin: 10px;
	text-align: center;
}
#start-btn{
	text-transform: uppercase;
	background: white;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	border: none;
}


.navbar {
	background-color: #4b244a;
}

#flip{
	font-family: Mainfont;
	color: white;
	font-variant: normal;
	font-size: 40px;
	margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px 540px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
   	color: #FFAEAE;
}

li.dropdown {
    display: inline-block;
}
#rank{
    position: absolute;
    width:300px;
    height: 700px;
    background-color: rgba(255, 174, 174, 0.8);
    left:1000px;
    top: 0px;
    padding:10px;
    box-shadow:  5px 5px 5px #888888;
 }
 #table-scor{
 	text-align: center;
 	font-family: sans-serif;
 	font-size: 20px;
 	color: #993399;
 }
 .ranktext{
 	margin-top: 100px;
 	font-size: 40px;
 	color: #e6f2ff;
 	text-shadow: 2px 2px 2px #0066cc;
 	margin: 0px
 }
#user{
	margin: 0px;
	font-size: 40px;
 	color:  #f2d9f2;
 	text-shadow: 2px 2px 2px #993399;
 	margin-bottom: 30px;
}