@font-face {
    font-family: mainFont;
    src: url(stereofidelic.ttf);
}

body{
	margin: auto;
	background-image: url(mountain.png);
	background-repeat: no-repeat;
	background-size: 100% 750px;
}

.container{
	width: 200px;
	height: 250px;
	text-align: center;
	margin: auto;
	margin-top: 180px;
	border-radius: 15px;
	background-color: rgba(168, 8, 116, 0.7);
}

input{
	height: 30px;
	width: 200px;
	font-size: 18px;
	margin-top: 40px;
	border: none;
}

#login{
	height: 30px;
	width: 100px;
	background-color: #343A1A;
	color: white;
	border: none;
}

.Memoflip{
	font-family: mainFont;
	font-size: 50px;
	margin-top: 20px;
	color: white;
}
